nav {
  position: sticky;
  top: 0;
  height: 120px;
  background-color: #4056A1;
  color: #FFF;
  z-index: 1;
  padding: 1.5em;
  font-family: 'Bungee', cursive;
}

nav span {
  height: 48px;
  line-height: 48px;
  text-align: center;
}
