.new-tweet textarea {
  border: none;
  resize: none;
  width: 100%;
  background-color: inherit;
  border-bottom: 5px solid black;
}

.new-tweet button {
  font-family: 'Bungee', cursive;
  color: #FFF;
  background-color: #4056A1;
}

.new-tweet output {
  position: absolute;
  font-family: 'Bungee', cursive;
  right: 0;
}

.new-tweet {
  padding-bottom: 20px;
}

.new-tweet .error-message {
  display: none;
  border: 1px dotted red;
  margin-top: 10px;
  padding: 10px 10px;
  color: red;
  font-weight: bold;
  text-align: center;
}
